{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "AWS CloudFormation Sample Template simple: ",
  "Resources" : {
    "NovaInstance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
      	"InstanceType" : "m1.medium",
      	"ImageId"      : "6417ef78-11bc-47e1-a745-21f0228f68a1",
#      	"ImageId"      : "centos-6.5-64bit-en-global-30g-20140908-1.0-simple",
#      	"KeyName"      : "defaultkey"
      }
	}
  },
  "Outputs" : {
    "InstanceId" : {
      "Description" : "InstanceId of the newly created Nova instance",
      "Value" : { "Ref" : "NovaInstance" }
    }
  }
}
